/*Website Template by freewebsitetemplates.com*/
body {
    background:#37464f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

label {
    color: #009688;
    width: 100%;
}

.header {
    color: #009688;
    font-size: large;
    margin: 10px;
}

.card-title {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #fff;
    color: #009688;
    font-size: large;
    text-align: center;
    padding-top: 10px;
    height: 45px;
}

.card-body {
    margin: 20px;
}

.card {
    /* Add shadows to create the "card" effect */
    background: #fff;
    margin-top: 20px;
    border-radius: 2px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card-link {
    font-size: 0.5cm;
    color: white;
}

.navbar-custom {
    background-color: #101f27;
}

.navbar-brand {
    color: #fff;
}

.navbar-header:hover > a {
    color: #fff;
}

.navbar-custom > div > ul > li{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

nav > div {
   background: transparent;
}


.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #263238;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #000a12;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #4f5b62;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#editor {
    color: black;
    min-height: 300px;
}

.editor {
    margin: 10px;
}